.contact-cover {
    background-image: url("../assets/contact.jpeg");
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    position: relative;
    display: flex;
    margin-bottom: 50px
}

.contact-filter {
    background-color: black;
    opacity: 70%;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
}

.contact-title-container {
    margin: 0 auto;
    color: #CDFEAA;
    font-size: 40px;
    display: flex;
    position: relative;
    align-items: center;
}

.contact-title {
    margin: 0 auto;
    height: auto;
}

.contact-data {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 300px;
    width: 70%;
    justify-content: space-between;
}

.contact-subtitle {
    overflow: hidden;
    float: left;
    align-items: center;
}

.contact-info {
    height: 40px;
    display: flex;
    align-items: center;
    float: right;
    text-align: right;
}

.contact-info-text {
    display: flex;
    color: white;
    margin-top: 0;
    align-items: center;
    margin-bottom: 0;
}