.container {
    overflow: hidden;
    width: 70%;
    height: auto;
}

.socials-container {
    background-color: black;
    margin-bottom: 30px;
    overflow: hidden;
    float: left;
    display: flex;
    align-items: center;
}

.socials-list {
    text-decoration: none;
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.socials-list-item {
    text-decoration: none;
    outline: none;
    margin-right: 10px;
}

.socials-list-item:link {
    color: white;
    transition: 200ms ease-in;
}

.socials-list-item:visited {
    color: white;
    transition: 200ms ease-in;
}

.socials-list-item:hover {
    color: #CDFEAA;
    transition: 200ms ease-in;
}

.socials-list-item:active {
    color: white;
    transition: 200ms ease-in;
}

.socials-list-item:focus {
    color: white;
    transition: 200ms ease-in;
}

.container-created-by {
    height: 40px;
    display: flex;
    align-items: center;
    float: right;
}

.created-by {
    display: flex;
    color: white;
    margin-top: 0;
    align-items: center;
    margin-bottom: 0;
}