.item-link {
    text-decoration: none;
    outline: none;
}

.item-link:link {
    color: white;
    transition: 200ms ease-in;
}

.item-link:visited {
    color: white;
    transition: 200ms ease-in;
}

.item-link:hover {
    color: #CDFEAA;
    transition: 200ms ease-in;
}

.item-link:active {
    color: #CDFEAA;
    transition: 200ms ease-in;
}

.item-link:focus {
    color: #CDFEAA;
    transition: 200ms ease-in;
}

.logo-header {
    height: 130px;
    width: 130px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    float: left;
}

.title-header {
    font-size: 22px;
    background-color: black;
    display: flex;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    height: 170px;
    width: auto;
    color: white;
    align-items: center;
}

.navbar-container {
    background-color: black;
    overflow: hidden;
}

.list-navbar-item {
    text-decoration: none;
    outline: none;
    color: white;
    text-decoration: none;
    list-style: none;
}

.navbar-text-item {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}

.list-navbar {
    display: flex;
    padding-left: 0;
}

.list-container {
    margin-right: 50px;
    margin-left: 30px;
    float: right;
    align-items: center;
    display: flex;
    height: 170px;
}

.active {
    color: #CDFEAA;
    font-weight: bold;
    transition: 200ms ease-in;
}