.workshopitem-cover {
    background-image: url("../assets/foto.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    position: relative;
    display: flex;
}

.workshopitem-filter {
    background-color: black;
    opacity: 60%;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
}

.workshopitem-title-container {
    margin: 0 auto;
    color: #CDFEAA;
    font-size: 40px;
    display: flex;
    position: relative;
    align-items: center;
    width: 70%;
}

.workshopitem-title {
    width: 400px;
}

.workshopitem-container {
    justify-content: center;
}

.workshopitem-info-container {
    width: 200px;
    height: 250px;
    margin: 0 auto;
    background-color: red;
}